* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    height: 80px;
    background: #848484;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 35px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo img {
    width: 48px;
}

.logo h2 {
    font-size: 24px;
}

nav {
    display: flex;
    gap: 40px;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 13px;

}

nav a:hover {
    color: green;
}